@using Puppeteer.Console.BlazorUI.Services
@using RazorConsole.Components
@using Puppeteer.Console.BlazorUI.Services.Implementations

@inject ILoginTelegramService LoginTelegramService;
@inject IUserSettingsService UserSettingsService;

<Figlet Content="Login Page" />

<Columns>
    <p>Save login data</p>
    <Select Options="_saveOptions"
            Value="SelectedSaveOption"
            ValueChanged="OnSaveOptionChanged"
            Expand="true" />
</Columns>

<TextButton Content="Run login"
            OnClick="RunLogin"
            BackgroundColor="@Spectre.Console.Color.Grey"
            FocusedColor="@Spectre.Console.Color.Blue" />
@code {
    private string[] _saveOptions = ["Yes", "No"];
    private string _selectedSaveOption { get; set; } = "No";

    private bool _saveLoginData { get; set; }

    private void OnSaveOptionChanged(string value)
    {
        _selectedSaveOption = value;
        UserSettingsService.Settings.SaveLoginData = IsSaveLoginData(value);
        UserSettingsService.Save();
    }

    private bool IsSaveLoginData(string userInput) => 
        !string.IsNullOrEmpty(userInput) && userInput.Equals("Yes", StringComparison.OrdinalIgnoreCase);

    private async Task RunLogin() => await LoginTelegramService.Login();
}