@using Puppeteer.Console.BlazorUI.Services.Implementations
@using RazorConsole.Components

@inject ILoginTelegramService LoginTelegramService;

@if (!Initialized)
{
    <p>Loading...</p>
}
else if (!IsLoggedIn)
{
    <Login />
}
else
{
    if (ShowAddLinkComponent)
    {
        <AddLink />
        <TextButton Content="Back"
                    OnClick="CloseAddLink"
                    BackgroundColor="@Spectre.Console.Color.Grey"
        FocusedColor="@Spectre.Console.Color.Blue" />
    }
    else
    {
        <Figlet Content="Main Activity" />
        <TextButton Content="Add Link"
                    OnClick="AddLink"
                    BackgroundColor="@Spectre.Console.Color.Grey"
                    FocusedColor="@Spectre.Console.Color.Blue" />
    }
}

@code {
    private bool IsLoggedIn;
    private bool Initialized = false;
    private bool ShowAddLinkComponent = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsLoggedIn = await LoginTelegramService.IsLoggedIn();
            Initialized = true;
            StateHasChanged();
        }
    }

    private void AddLink()
    {
        ShowAddLinkComponent = true;
        StateHasChanged();
    }

    private void CloseAddLink()
    {
        ShowAddLinkComponent = false;
        StateHasChanged();
    }
}
